<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
</head>
<body>
<div style="margin:15% 40%">
    <h3>欢迎登陆运维系统</h3>
    <form action="/login/" method="post">
        <p>
            <label>账户:</label>
            <input type="text" id="username" name="username" placeholder="用户名" autofocus required>
        </p>
        <p>
            <label>密码:</label>
            <input type="password" id="password" name="password" placeholder="密码" required>
        </p>
        <input type="submit" value="提交" />
    </form>
</div>
</body>
</html>